#topbar ul {
    background-color: antiquewhite;
    width: auto;
}
#topbar ul li {
    display: inline;
    text-decoration: none;
    color: darkblue;
}
#topbar ul li a {
    text-decoration: none;
    background-color: lightgray;
}
#topbar ul * :hover {
    background-color: burlywood;
    color: whitesmoke;
}

table {
    width: 80%; 
    border-collapse: collapse;
}

table th, table td {
    border: solid thin rgb(5, 5, 5);
    padding: 8px; 
}

table th {
    background-color: lightgray;
}


table th, table td {
    font-size: 14px;
}



form * {
    margin-bottom: 10px; /
}


form fieldset {
    margin-bottom: 20px; 
}


form label {
    display: block; 
    width: 80px; 
    margin-bottom: 5px; 
    font-size: 14px;
}


form button {
    margin-top: 8px; 
}


form::after {
    content: "";
    display: table;
    clear: both;
}

button[disabled] {
    
    background-color: #ee8888; 
    color: #666; 
    cursor: not-allowed; 
    
}

div.footer {
    background-color: antiquewhite;;
    color: blueviolet;
}


